$main-light : #f4f7fa;
$main-dark: #263238;
$main-box-shadow: #e6edef;
$main-font: #222222;
$danger: #ff1515;

$graph-red: #da1e28;
$graph-orange: #ff832b;
$graph-yellow: #d4c44e;
$graph-green: #198038;
$graph-blue: #2551d5;
$graph-cyan: #489091;
$graph-pink: #d9a7a7;
$graph-brown: #9e6f02;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    img {
        border-radius: 2em;
        height: 35em;

        @media only screen and (max-width: 768px) {
            height: 25em;
        }
    }

    button {
        padding: 15px 20px;
        background-color: $main-dark;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

}