$primary: #f5f7ff;
$accent: #27367f;
$dark-primary: #263238;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    margin: 20px 0;
}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.wrapper {
    .banner {
        background-color: $accent;
        color: white;
        padding: 10px;

        h1 {
            margin: auto;
            padding: 4px;
            font-size: 2rem;
            text-align: center;
        }

        .close {
            top: 10px;
            right: 4%;
            color: white;
            position: absolute;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;

            i {
                font-size: 2.4rem;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }

    form {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .form-field {
            flex-direction: column;
            width: 100%;

            display: flex;
            justify-content: space-between;
            margin: 15px 0;

            label {
                margin-bottom: 4px;
                border: none;
            }

            input,
            select {
                width: 100%;
                font-size: 16px;
                border-radius: 4px;
                border: 2px solid $accent;
                cursor: pointer;
                outline: none;
                padding: 15px;
                background: transparent;
                -webkit-transition: 0.5s;
                transition: 0.5s;

                &:focus {
                    background-color: $primary;
                }

                &::placeholder {
                    color: $accent;
                }
            }
            .not-allow {
                cursor: not-allowed;
            }
        }

        .error {
            color: red;
            font-size: 12px;
        }

        .btn-grp {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 100%;
            justify-content: flex-end;
            margin-top: 30px;
        }

        .btn {
            width: fit-content;
            padding: 15px 20px;
            border-radius: 4px;
            background-color: $accent;
            margin: 15px 0 15px;
            color: white;
            border: 1px solid $dark-primary;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: rgb(4, 50, 255);
                color: white;
                transform: scale(1.05);
            }

            &:disabled {
                background-color: #ccc;
                color: white;
                border: 1px solid #ccc;
                cursor: not-allowed;
            }

            &-close {
                background-color: $dark-primary;

                &:hover {
                    background-color: black;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        width: 100%;

        .form {
            padding: 10px;

            input {
                padding: 5px;
            }
        }

        label {
            width: 100% !important;
            border-right: none !important;
            border-bottom: 2px solid black;
        }
    }
}
