<div class="container">
    <!-- <div class="banner">
      <button class="close" matTooltip="Close" mat-dialog-close @rotate>
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div> -->

    <img class="icon" src="../../../../../assets/images/lock.gif" />
    <div class="message">
        <h1>Access to this page is restricted</h1>
        <p>
            Please check with the site admin if you believe this is a mistake.
        </p>
    </div>

    <button mat-dialog-close routerLink="dashboard" class="button-31">
      Close
    </button>
</div>
